/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*body {*/
    /*font-size: 0;*/
/*}*/

.guess_area {
    /*font-family: 'Bree Serif', sans-serif;*/
    font-family: 'Vollkorn', sans-serif;
    background: url("images/dripping_slime.png") no-repeat;
    background-size: cover ;
    height: 50%;
    color: 	#000;
    font-weight: bold;
}

h1 {
    /*font-size: 2rem;*/
    margin: 0;
    padding: 0;
}

/*h3, #response_div {*/
    /*display: inline-block;*/
    /*margin: 1vw;*/
/*}*/

h2 {
    display: inline-block;
    margin: 1vw;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

button {
    color: yellow;
    background-color: green;
    box-shadow: 5px 5px 5px #888888;
}

.guess_here, #response_div {
    text-align: center;
}

#response_div {
    margin: auto;
    width: 40%;
}

/*.ooze {*/
    /*display: inline-block;*/
    /*float: left;*/
    /*!*text-align: center;*!*/
    /*!*margin: auto;*!*/
    /*height: 30%;*/
/*}*/

