#map, .guess_area, .ghostbusters_team {
    height: 50%;
}

#map, .guess_area, .ghostbusters_team, h2 {
    display: inline-block;
}

#map, .ghostbusters_team, #response_div {
    width: 50%;
}

html, body {
    height: 100%;
    background-color: #000000;
}

body {
    font-size: 0;
}

body > * {
    font-size: 1rem;
}

.guess_area {
    font-family: 'Vollkorn', sans-serif;
    background: url("images/dripping_slime.png") no-repeat;
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
}

html, body, h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0 1vw;
    font-size: 1.7em;
}

h1 {
    text-transform: uppercase;
    font-size: 2.1em;
}

button {
    color: #ffff00;
    background-color: #008000;
    margin: 1vw;
}

button, input {
    box-shadow: 5px 3px 5px #888888;
    font-size: 1.5em;
}

input {
    background-color: #aaf442;
}

.guess_here, #response_div, h1 {
    text-align: center;
}

#response_div {
    margin: auto;
    font-size: 1.5em;
}

@media screen and (max-width: 750px) {
    #map, .ghostbusters_team {
        width: 100%;
    }
    #map {
        height: 62%;
    }
}